<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Paprika Recipes</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.hindsightlabs.paprika.files.recipes</string>
				<string>com.hindsightlabs.paprika.files.recipe</string>
				<string>com.paprika.recipes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MealPlan Recipe Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.holgerkrupp.mealplan.recipes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>de.holgerkrupp.mealplan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mealplan</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MealPlan Recipe Archive</string>
			<key>UTTypeIdentifier</key>
			<string>de.holgerkrupp.mealplan.recipes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mealplanrecipes</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Paprika Recipes File</string>
			<key>UTTypeIdentifier</key>
			<string>com.hindsightlabs.paprika.files.recipes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>paprikarecipes</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/paprikarecipes</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Paprika Recipe File</string>
			<key>UTTypeIdentifier</key>
			<string>com.hindsightlabs.paprika.files.recipe</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>paprikarecipe</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/paprikarecipe</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
